body {
  width: 100%;
  margin: 0 auto;
}
.App-logo {
  width: 112px;
  height: 29px;
}

.message {
  margin-top: 40px;
}

.signup-form {
  margin-top: 40px;
}

@media (max-width: 1024px) {
  .container {
    padding: 10px;
  }
}